<div class="box-shadow">
    <h3>This is component Home:</h3>
    <h2>List fruits:</h2>
    
    <ul *ngFor="let fruit of fruits; let i = index">
        <li>{{i}} {{fruit}}</li>
    </ul>
    <br>

    <table>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Price</th>
          <th>Discount</th>
        </tr>
        <tr class="center" *ngFor="let fruit of listFruits; let i = index">
          <td>{{i+1}}</td>
          <td>{{fruit.name}}</td>
          <td>{{fruit.price}}</td>
          <td >
            <span [ngClass] = "{'discount':fruit.discount > 0}">{{fruit.discount}}</span></td>
        </tr>
      </table>
</div>